*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing:border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg,#1052cc,#78aa3b);
    padding: 10px;
}

.to-do-box{
    width: 100%;
    max-width: 540px;
    background:#fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.to-do-box h2{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.to-do-box h2 img{
    width: 30px;
    margin-left: 10px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}

button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #45ff80;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked{
 color: #555;
 text-decoration: line-through;
}

ul li.checked::before{
    background-image: url(images/checked.png);
}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover{
    background: #edeef0;
}


/* MEDIA QUERIES */

.row{
    display: flex;
    align-items: center;
    background: #edeef0;
    border-radius: 30px;
    padding: 5px 10px;   
    margin-bottom: 20px;
    gap: 10px;          
    flex-wrap: wrap;     
}

.row input{
    flex: 1;                
    min-width: 0;            
    border: none;
    outline: none;
    background: transparent;
    padding: 12px 15px;
    font-size: 14px;
    border-radius: 30px;   
}

.row button{
    flex: none;               
    padding: 12px 25px;
    background: #45ff80;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    border-radius: 30px;
    border: none;
    outline: none;
    white-space: nowrap;      
}


/* Mobile devices (<600px) */
@media (max-width: 599px){
    .row{
        flex-direction: column; 
        align-items: stretch;  
    }

    .row input, .row button{
        width: 100%;   
    }

    .row button{
        margin-top: 10px;    
    }
}


/* Tablets (600px to 1024px) */
@media (min-width: 600px) and (max-width: 1024px){
    .to-do-box{
        padding: 35px 25px 60px;
    }
    
    .to-do-box h2{
        font-size: 24px;
    }
    
    button{
        padding: 14px 35px;
        font-size: 15px;
    }

    ul li{
        font-size: 17px;
        padding-left: 50px;
    }

    ul li span{
        width: 38px;
        height: 38px;
        font-size: 21px;
        line-height: 38px;
    }
}

/* Desktops / Laptops (1025px and above) */
@media (min-width: 1025px){
    .to-do-box{
        padding: 40px 30px 70px;
    }

    .to-do-box h2{
        font-size: 26px;
    }

    button{
        padding: 16px 50px;
        font-size: 16px;
    }

    ul li{
        font-size: 17px;
        padding-left: 50px;
    }

    ul li span{
        width: 40px;
        height: 40px;
        font-size: 22px;
        line-height: 40px;
    }
}